@font-face {
    font-family: starwars;
    src: url('fonts/Starjedi.ttf')
}

h1, h2 {
    font-family: starwars;
    font-weight: 100;
}

#ordem {
    width: 120px;
    height: 40px;
    display: block;
    margin: 50px auto 10px;
    background: none;
    border: none;
    outline: none;
}

#ordem:active {
    outline: none;
}