@font-face {
    font-family: starwars;
    src: url('fonts/Starjedi.ttf')
}

h1, h2 {
    font-family: starwars;
    font-weight: 100;
}

#ordem {
    position: absolute;
    width: 120px;
    height: 40px;
    top: 60px;
    right: 70px;
    display: block;
    margin-top: 50px;
    background: none;
    border: none;
    outline: none;
}

#ordem:active {
    outline: none;
}